body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region global values */

/* ---------------background hero and footer------------- */

.hero,
.footer {
  background: #2e2f42;
}

/* ---------------styles title, subtitle, text------------- */

.team__title,
.portfolio__title {
  /* font-weight: 700; */
  font-size: 36px;
  text-align: center;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.benefits__subtitle,
.team__subtitle,
.portfolio__subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits__text,
.team__text,
.portfolio__text,
.footer__text,
.media__text,
.subscribe__label,
.modal__text {
  /* font-weight: 400; */
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------styles icon in footer and team------------- */

.team__list__icon,
.media__list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team__link__icon,
.media__link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon,
.media__icon {
  fill: #f4f4fd;
}

/* #endregion global values */

/* #region header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

/* -------------------------logo--------------------------- */
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.header__accent {
  color: #2e2f42;
}

/* -------------------------navigation--------------------------- */
.header__navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: #404bbf;
}

.active {
  color: #404bbf;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transform-origin: center;
}

/* -------------------------address--------------------------- */

.address {
  font-style: normal;
}

.address__link {
  display: block;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: #404bbf;
}

.address__list {
  display: flex;
  gap: 40px;
}

/* #endregion header */

/* #region hero */

.hero {
  padding: 188px 0;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__title {
  /* font-weight: 700; */
  font-size: 56px;
  color: #fff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero__button {
  display: block;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #404bbf;
}

/* #endregion hero */

/* #region benefits */

.benefits__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.benefits__item {
  width: calc((100% - 72px) / 4);
}

.benefits__subtitle {
  margin-bottom: 8px;
}

.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* #endregion benefits */

/* #region team */

.team {
  background-color: #f4f4fd;
}

.team__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team__item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team__description {
  padding: 32px 0;
}

.team__subtitle,
.team__text {
  text-align: center;
  margin-bottom: 8px;
}

.team__link__icon:hover,
.team__link__icon:focus {
  background-color: #404bbf;
}

/* #endregion team */

/* #region portfolio */

.portfolio__list {
  display: flex;
  /* justify-content: space-between; */
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio__item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio__item:hover .portfolio-info__text,
.portfolio__item:focus .portfolio-info__text {
  transform: translateY(0);
}

.portfolio-item__info {
  position: relative;
  overflow: hidden;
}

.portfolio-info__text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio__description {
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  padding-top: 32px;
  padding: 32px 16px;
}

.portfolio__subtitle {
  margin-bottom: 8px;
}

/* #endregion portfolio */

/* #region footer */

.footer {
  padding: 100px 0;
}

.footer__text-white {
  color: #f4f4fd;
}

.footer__text {
  max-width: 264px;
}

.footer .logo {
  margin: 0 0 16px 0;
}

.footer__accent {
  color: #f4f4fd;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.container__info {
  margin-right: 120px;
}

.media__list {
  gap: 16px;
}

.media__text {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.media__link__icon:hover,
.media__link__icon:focus {
  background-color: #31d0aa;
}

.container__media {
  margin-right: 80px;
}

.subscribe__form {
  display: flex;
  gap: 24px;
  align-items: flex-end;
  width: 100%;
  max-width: 453px;
}
.subscribe__label {
  font-weight: 500;
  color: #fff;
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.subscribe__input {
  width: 100%;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  color: #fff;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .subscribe__input:hover::placeholder {
  color: #4d5ae5;
}

.subscribe__input:focus::placeholder {
  color: #fff;
} */

.subscribe__input:hover,
.subscribe__input:focus {
  border-color: #31d0aa;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__icon {
  fill: #fff;
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: #31d0aa;
}

/* #endregion footer */

/* #region modal */

.modal-overlay {
  background-color: #2e2f429d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  min-width: 408px;
  margin: 0 auto;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

/* --------------button-------------- */

.modal__button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  margin-bottom: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover,
.modal__button-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal__icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal__icon-close,
.modal__button-close:focus .modal__icon-close {
  fill: #ffffff;
}

/* --------------text----------- */

.modal__text {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* ------------form-------------- */

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__contact-label {
  font-weight: 400;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  position: absolute;
  left: 16px;
  bottom: 8px;
  pointer-events: none;
}

.modal__contact-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__contact-input:hover,
.modal__contact-input:focus {
  border-color: #4d5ae5;
}

.modal__contact-label:focus-within .modal__icon {
  fill: #4d5ae5;
}

/* ----------------comment---------------- */

.modal__contact-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}

.modal__contact-comment:hover,
.modal__contact-comment:focus {
  border-color: #4d5ae5;
}

.modal__contact-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .modal__contact-comment:hover::placeholder,
.modal__contact-comment:focus::placeholder {
  color: #4d5ae5;
} */

/* -----------------checkbox-------------- */

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
  margin-bottom: 24px;
}

.checkbox__input {
}

.checkbox:hover .checkbox__custom {
  border: 1px solid #404bbf;
}

.checkbox__input:checked + .checkbox__custom {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.checkbox__input:checked + .checkbox__custom .checkbox__icon {
  opacity: 1;
}

.checkbox__custom {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon {
  opacity: 0;
  fill: #f4f4fd;
transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__link:hover,
.checkbox__link:focus {
  color:  #404bbf;
}

/* -------------send button--------- */

.send__button{
  margin: 0 auto;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send__button:hover,
.send__button:focus {
  background-color: #404bbf;
}

/* #endregion modal */
